<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
</head>
<body>
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>
                <a href="/view/{{ product[0] }}" class="btn btn-primary">View</a>
                <a href="/delete/{{ product[0] }}" class="btn btn-danger">Delete</a>
                <a href="/update/{{ product[0] }}" class="btn btn-warning">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="/add" class="btn btn-success">Add Product</a>

    <form method="POST" action="/update/{{ product.id }}">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
    </div>
    <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" class="form-control" id="color" name="color" value="{{ product.color }}" required>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="{{ product.quantity }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>



</body>
</html>
