{% extends 'base.html' %}

{% block title %}Product Page{% endblock %}



{% block content %}



<h1>Product Page</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>
                    <a href="/view/{{ product[0] }}" class="btn btn-primary">View</a>
                    <a href="/delete/{{ product[0] }}" class="btn btn-danger">Delete</a>
                    <a href="/update/{{ product[0] }}" class="btn btn-warning">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add" class="btn btn-success">Add Product</a>
{% endblock %}
