{% extends 'base.html' %}

{% block title %}Product Page{% endblock %}



{% block content %}
    <h1>Product Page REST</h1>
    <table class="table" id="product-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    {% set product_id = product[0]%}
                    {% set product_name = product[1]%}
                    {% set product_color = product[2]%}
                    {% set product_quantity = product[3]%}
                    <td>{{ product_id }}</td>
                    <td>{{ product_name }}</td>
                    <td>{{ product_color }}</td>
                    <td>{{ product_quantity }}</td>
                    <td>
                        <button class="btn btn-primary" onclick="viewProduct({{ product_id }})">View</button>
                        <button class="btn btn-danger" onclick="deleteProduct({{ product_id }})">Delete</button>
                        <button type="button" class="btn btn-warning update-button" data-toggle="modal" data-target="#updateModal" data-id="{{ product_id }}">Update Product</button>
                        <!--
                        <button class="btn btn-warning update-button" onclick="updateProduct({{ product_id }})">Update</button>
                        -->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal">Add Product</button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal" data-id="1">Update Product</button>

        <!-- Modal dialog for adding a new product -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="addForm">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="color">Color:</label>
                                <input type="text" class="form-control" id="color" name="color" required>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="addProduct()">Save</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Modal dialog for displaying product details -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Update Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateForm">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="update_name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="color">Color:</label>
                                <input type="text" class="form-control" id="update_color" name="color" required>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <input type="number" class="form-control" id="update_quantity" name="quantity" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="update_save" onclick="updateProduct()">Save</button>
                    </div>
                </div>
            </div>
        </div>




    {% block scripts %}
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>

    <script type="text/javascript">
        $(".update-button").click(function () {
            var product_id = $(this).attr('data-id');
            updateProductModal(product_id);
        });
    </script>


    <!--
    <script type="text/javascript">
        $(document).ready(function() {
            $('#updateModal').on('show.bs.modal', function(e) {
                var productId = $(e.relatedTarget).data('id');
                $.ajax({
                    url: '/get_product/' + productId,
                    type: 'GET',
                    success: function(response) {
                        $('#productDetails').html(response);
                    }
                });
            });
        });
    </script>
    -->

    {% endblock scripts %}
    <a href="#" class="btn btn-success" onclick="refreshTable()">Refresh Asyn</a>
{% endblock %}
